.child {
  background-color: #1d2a35;
  color: rgb(242, 241, 240);
  padding: 25px;
}

.child h3 {
  /* font-family: Lucida Console, Courier New, monospace; */
  background-color: rgb(2, 2, 69);
  padding: 10px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.child p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  padding: 10px;
  font-size: 20px;
}
