.header {
  padding: 15px;
  background-color: black;
  color: #ffff;
}

.header h1 {
  font-size: 28px;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

.header h2 {
  font-size: 20px;
  color: #fff;
}

.header select {
  color: #fff;
  padding: 3px;
  margin: 5px;
  border-radius: 5px solid #fff;
}

#question h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin: 0.5rem 0 2.5rem 0;
  color: #c1b2dd;
}
#answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 90%;
  margin: 0 auto;
}

.answer button {
  display: inline-block;
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  /* background: linear-gradient(180deg, #81f1fb 0%, #73d2f8 100%); */
  background: #6cb7f5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.answer li {
  font-size: 25px;
}

.answer button:hover,
.answer button:focus {
  /* background: linear-gradient(180deg, #bf48f6 0%, #9b50f2 100%); */
  background: #9d5af5;
  color: white;
  /* box-shadow: 0 0 4px 2px rgba(255, 200, 60, 0.8); */
}

#quizComplete h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.skipBtn {
  margin-top: 20px;
  background-color: yellowgreen;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
}
