#summary h1 {
  color: yellow;
  background-color: blueviolet;
}

.summary {
  margin-top: 10px;
}
.summary h2 {
  color: #fff;
  font-size: 25px;
}

.correctAns {
  margin-left: 40px;
  color: green;
  font-size: 20px;
  padding: 8px;
}

.wrongAns {
  margin-left: 40px;
  color: red;
  font-size: 20px;
  padding: 8px;
}

.newTestBtn {
  color: rgb(48, 30, 2);
  background-color: rgb(54, 152, 2);
  padding: 3px;
  width: 100px;
  border: none;
  margin: 2px;
  border-radius: 4px;
  font-weight: 700;
}
